


.mockup-text {
	text-align: left;
	margin-top: 100px;
	color: black; 
	font-size: 130%;
	margin-left: -100px; 
}

.2nd-carousel-images {
	padding-left: 200px;
}


body { 
	padding-top: 70px;
	position: relative;
}

.container {
	text-align: center;
}

form {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 100px;
}

textarea {
	margin-bottom: 15px;
}

.col-xs-4 {
	padding: 10px;
}

.jumbotron {
	background: url(http://i1373.photobucket.com/albums/ag395/rlh1987/San_Francisco_1906_earthquake_Panoramic_Viewcopy_zps6a7bde90.jpg) no-repeat;
	background-size: 100%;>
}		

