body { padding-top: 70px;}

.container {
	text-align: center;
}

.col-xs-4 {
	padding: 10px;
}

.jumbotron {
	background: url(http://i1373.photobucket.com/albums/ag395/rlh1987/San_Francisco_1906_earthquake_Panoramic_Viewcopy_zps6a7bde90.jpg) no-repeat;
	background-size: 100%;>
}		
p.pos_fixed {
    position: fixed;
    top: 30px;
    right: 5px;
}
